# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log in
# /var/log/frr/frr.log
#
# Note:
# FRR's configuration shell, vtysh, dynamically edits the live, in-memory
# configuration while FRR is running. When instructed, vtysh will persist the
# live configuration to this file, overwriting its contents. If you want to
# avoid this, you can edit this file manually before starting FRR, or instruct
# vtysh to write configuration to a different file.

frr version 8.1
frr defaults traditional

hostname {{ ansible_hostname }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
interface enp0s8
 description r1-r2
 ip address {{ ansible_enp0s8.ipv4.address }}/30
 {% if ansible_hostname=='router1' %}
  ip ospf cost 1000
 {% elif ansible_hostname == 'router2' and symmetric_routing == true %}
  ip ospf cost 1000
 {% else %}
  !ip ospf cost 450
 {% endif %}
 ip ospf mtu-ignore
 !ip ospf cost 1000
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s9
 description r1-r3
 ip address {{ ansible_enp0s9.ipv4.address }}/30
 ip ospf mtu-ignore
 !ip ospf cost 45
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s10
 description net_router1
 ip address {{ ansible_enp0s10.ipv4.address }}/24
 ip ospf mtu-ignore
 !ip ospf cost 45
 ip ospf hello-interval 10
 ip ospf dead interval 30
!
router ospf
 router-id {{ router_id }}
 network {{ ansible_enp0s8.ipv4.network }}/30 area 0
 network {{ ansible_enp0s9.ipv4.network }}/30 area 0
 network {{ ansible_enp0s10.ipv4.network }}/24 area 0
 neighbor {{ neighbor1 }}
 neighbor {{ neighbor2 }}
!
log file /var/log/frr/frr.log
default-information originate always
